/* 标签选择器 */

body {
    /* background-color: salmon; */
    /*背景设小图*/
    height: 5000px;
    background-image: url("../../image1/github.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 700px, 300px;
    /* 50%,30%;centr,center; */
}

div {
    width: 100%;
    height: 300px;
    background-color: lightblue;
    color: purple;
    font-size: 30px;
}


/* ID选择器 */

#one {
    width: 1200px;
    height: 1500px;
    background-color: yellow;
    margin: auto;
    color: navy;
    font-size: 50px;
    /* 背景设大图 */
    background-image: url("../../image1/juan3.jpg");
    background-size: cover;
    /*cover*/
    font-family: "微软雅黑", "宋体", "隶书";
    line-height: 6em;
    text-align: right;
}

#qd3 {
    color: red;
}

#dp1 {
    height: 2000px;
}

div>div {
    float: left;
}


/* class选择器 */

div>.d1 {
    width: 25%;
    height: 100%;
    background-color: navy;
    color: rebeccapurple;
    font-size: 1.2em;
}

div>.d2 {
    width: 25%;
    height: 100%;
    background-color: rgb(163, 90, 62);
    color: rebeccapurple;
    font-size: 1em;
}

div>.d3 {
    width: 25%;
    height: 100%;
    background-color: palegreen;
    color: rebeccapurple;
    font-size: 0.8em;
}

div>#qd1 {
    width: 25%;
    height: 100%;
    background-color: purple;
    font-size: 0.6em;
    color: red;
    /* color:#AA123B;16进制color: rgb(163, 90, 62);10进制 
        color:rgba(32,160,223,.3)
        最后一位为透明度*/
}

div>.p0 {
    text-align: center;
    font-size: 50px;
}

#dp1>.p1 {
    letter-spacing: 10px;
    text-align: justify;
    text-transform: capitalize;
}

div>.p2 {
    letter-spacing: 10px;
    text-align: justify;
    text-indent: 60px;
}

div>.p3 {
    text-decoration: underline;
    text-align: justify;
    text-indent: 60px;
}

div>.p4 {
    text-decoration: line-through;
    text-align: justify;
    text-indent: 60px;
}

div>.p5 {
    width: 200px;
    height: 80px;
    background-color: navy;
    line-height: 80px;
    color: purple;
    font-size: 20px;
    white-space: nowrap;
    /*超过容器不换行 */
    overflow: hidden;
    /* 超过容器部分隐藏 */
    text-overflow: ellipsis;
}

div>.p6>img {
    /* vertical-align: top; */
    float: left;
}