#yxj {
    color: purple;
}

div:hover:first-child {
    color: red !important;
}

body>div:nth-child(2) {
    color: yellow;
}

div[class] {
    color: green;
}

.youxianji {
    color: blueviolet;
}

div {
    color: blue;
    font-size: 22px;
    width: 600px;
    height: 300px;
    margin: auto;
    border: 5px solid red;
    text-align: center;
    line-height: 100px;
}

* {
    color: lightblue;
}